body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

#logo {
    float: left;
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
}

header > img {
    width: 100px;
    height: 100px;
}

header > h1 p {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    header {
        display: flex;
        flex-direction: row-reverse;
        transition: all 0.5s ease-in-out;
    }
    #name-header {
        text-align: right;
        font-size: 11px;
        transition: all 0.5s ease-in-out;
    }
}

nav {
    background-color: #555;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 7px;
    flex-basis: auto;
    max-width:fit-content;
    flex-grow: 1;
    flex-shrink: 1;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header > h1 {
    color: white;
}

h2, h3 {
    color: #555;
}

p {
    line-height: 1.6;
    color: #555;
}

header p{
    color: white;;
}

.book-appointment-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-appointment-btn:hover {
    background-color: #27ae60;
}

#map > iframe {
    height: 200px;
    width: 200px;
}

#contact {
    display: flex;
    justify-content: space-between;
}

#contact > iframe {
    max-width: 100%;
}

#team {
    display: flex;
}

#team > h2 {
    flex: none;
}

.team-member {
    flex: 1;
    margin-top: 80px;
}

.team-member > img {
    height: 200px;
    width: 170px;
    border: black 3px solid;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
